<br>
<div class="first-image">
</div>
<div class="row">
  <br>
  <div class="large-12 large-centered text-center">
  <h1 class="tagline">Enhance your Vitality in 2016!</h1>
  <h2 class="tagline">Enter to win a free Acupuncture session.</h2>
  <hr>
  </div>
</div>
<div class="row">
  <div class="large-7 column  center-text">
  <div class="row">
    <div class="large-12 column text-center" >
      <p style="font-weight:300;font-size:24px;">
      Two free Acupuncture Sessions available!
      </p>
      <p style="text-align: left;">
        We at East West Natural Medicine want to give back to our community!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit amet omnis rerum harum labore iste aperiam laborum deleniti quaerat quasi.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, labore!
      </p >
      <p style="font-weight:300;text-align: left;">
        We will be raffling off two free sessions at the end of the month.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis maiores similique autem possimus aut iure dolor repudiandae, porro, nemo hic!
      </p>
    </div>
  </div>
  </div>
  <div class="large-5 column center-text " style="background-color:#EEE;">
    <br>
    <%= form_tag(raffle_path, :method=>'post') do %>
            <div class="row">
              <div class="large-10 large-centered column text-center" style="font-size:24px;" >
                Get your FREE acupuncture Session!
              </div>
            </div>
            <br>
            <div class="row" >
            <div class="large-8 small-8 small-centered column large-centered">
              Name
              <br>
              <p>
                <%= text_field_tag  "name",'', :required => true%>
              </p>
            </div>
            </div>
            <div class="row">
            <div class="large-8 small-8 small-centered column large-centered">
              Email
              <br>
              <p>
                <%= email_field_tag  "email",'', :required => true%>
              </p>
            </div>
            </div>
            <div class="row">
            <div class=" large-8 small-8  small-centered column  large-centered">
            <hr>
            <br>
              <%= submit_tag 'Join now ' ,class: "button public-site-button orange-button"  %>
            </div>
            </div>
            <br>
            <% end %>
  </div>
</div>