<br>
<div class="first-image-web show-for-medium-up ">
</div>
<div class="first-image-mobile show-for-small-only ">
</div>
<div class="row">
  <br>
  <div class="large-12 large-centered text-center">
  <h1 class="tagline">Enhance your Vitality in 2016 with</h1>
  <h1 class="tagline">Traditional Chinese Medicine</h1>
  <!-- <h2 class="tagline">Enter to win a free Acupuncture session.</h2> -->
  <hr>
  </div>
</div>
<div class="row">
  <div class="large-7 column  center-text">
  <div class="row">
    <div class="large-11 column people-image " >
      <!-- <p style="font-weight:300;font-size:24px;">
      Two free Acupuncture Sessions available!
      </p> -->
      <p style="text-align: left;">
        We at <a href="http://east-westnaturalmedicine.com/" target="_blank">East-West Natural Medicine</a> want to give back to our community!
        We are so confident that you will love what we do, that we want you to win a free session with us!
        At the end of the month we will be raffling off two free sessions to New Patients (a $216 value). These are 1.5hr Initial Visit sessions with Nicole Anderson L.Ac. or Jessica Piazza L.Ac. <a href="http://east-westnaturalmedicine.com/rates.html" target="_blank">Click here</a> to learn more about what your session will include
      </p>

      <p style="font-weight:300;text-align: left;">
        Here is what you have to do to win:
        <!-- We will be raffling off two free sessions at the end of the month. -->
        <div style="font-weight:300;text-align: left;">
          <li>Enter your name and email.</li>
          <li>Like us on  <a href="https://www.facebook.com/EastWestNaturalMedicine">Facebook</a>.</li>
          <li>We will email the winners after the drawing.</li>
        </div>
      </p>
      <span style="font-weight:300;text-align: left;font-size:10px;">
       Disclaimer Free Sessions valid for New Patients only. We will draw for two different winners on the last day of the month and keep you notified of the winners via FB page and by email. You will have one month to redeem your free session with us.
      </span>
    </div>

  </div>
  </div>
  <div class="large-5 column center-text " style="background-color:#CCC;">
    <br>
    <%= form_for @client, :url => { :action => "raffleEnter" }  do |f|  %>
            <div class="row">
              <div class="large-10 large-centered column text-center" style="font-size:24px;" >
                Enter to win a FREE acupuncture Session!
              </div>
            </div>
            <br>
            <div class="row" >
            <div class="large-8 small-8 small-centered column large-centered">
              Name
              <br>
              <p>
                <%=  f.text_field  "name", :required => true%>
              </p>
            </div>
            </div>
            <div class="row">
            <div class="large-8 small-8 small-centered column large-centered">
              Email
              <br>
              <p>
                <%=  f.text_field "email", :required => true%>
              </p>
            </div>
            </div>
            <div class="row">
            <div class=" large-8 small-8  small-centered column  large-centered">
            <hr>
            <br>
              <%= submit_tag 'Join now ' ,class: "button public-site-button orange-button"  %>
            </div>
            </div>
            <br>
            <% end %>
  </div>
</div>