<br>
<div class="first-image-web show-for-medium-up ">
</div>
<div class="first-image-mobile show-for-small-only ">
</div>
<br>
<div class="row">
  <div class="large-12 column text-center">
    <h1  style="font-weight:300">Thank you for submission. </h1>
    <h2  style="font-weight:300">Please follow us on  <a href="https://www.facebook.com/EastWestNaturalMedicine">Facebook</a>.</h2>
    <h3  style="font-weight:300">The winners will be notified at the end of the month via email. We look forward to Enhancing your Vitality in 2016! To learn more about the ways we can help you check us out at <a href="http://east-westnaturalmedicine.com/" target="_blank">East West Natural Medicine</a>.</h3>
  </div>